:root {
    --gradient: linear-gradient(30deg,
            rgb(3, 74, 116),
            darkblue,
            rgb(3, 74, 116));
    --btn: linear-gradient(
        45deg,
        darkblue,
            #dc143c,
            darkblue
        );

    --head-foot: #fff000;    
    --main-background: #ddd;
    --second-background: #fff;
    --text: #fff;
    --title: #dc143c;
}