:root {
    --gradient: linear-gradient(90deg,
            #000,
            darkblue);
    --btn: linear-gradient(
        45deg,
        darkblue,
            #dc143c,
            darkblue
        );

    --head-foot: #fff000;    
    --main-background: #ddd;
    --second-background: #fff;
    --text: #fff;
    --beforeText: #fff;
    --afterText: #fff000;
}