:root {
    --gradient: linear-gradient(90deg,
                darkgreen,
                 rgb(135, 228, 135));
    --btn: linear-gradient(
        45deg,
        green,
        yellowgreen,
        yellow
        );

    --head-foot: #fff;    
    --main-background: #ddd;
    --second-background: #333;
    --text: #fff;
    --beforeText: #fff;
    --afterText: #000;
}
