:root {
    --gradient: linear-gradient(45deg,
        #027933, 
        darkgreen, #dc132c);
    --btn: linear-gradient(
        45deg,
        green,
        yellowgreen,
        yellow
        );

    --head-foot: #000;    
    --main-background: #ddd;
    --second-background: #333;
    --text: #fff;
    --title: #dc143c;
}