:root {
    --gradient: linear-gradient(45deg,
            rgb(68, 2, 68),
            purple,
            rgb(68,2,68)
            );
    --btn: linear-gradient(
        45deg,
        purple,
        #dc143c, 
        yellow,
        orange,
        green

        );

    --head-foot: #fff;    
    --main-background: #ddd;
    --second-background: #000;
    --text: #fff;
    --title: #dc143c;
}