:root {
    --gradient: linear-gradient(90deg,
            rgb(68, 2, 68),
            violet
            );
    --btn: linear-gradient(
        45deg,
        #fff, 
        yellow,
        orange,
        green

        );

    --head-foot: #fff;    
    --main-background: #ddd;
    --second-background: #000;
    --text: #fff;
    --beforeText: #fff;
    --afterText: #000;
}